.widget-roque{
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.widget-roque:hover {
    filter: brightness(0.5);
}

p{
    color: #e3ebeb;
    font-weight: 500;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    
    border-left: 35px solid red;

    margin-left: auto;
    margin-right: -30px;
  }

  .arrow-left {
    width: 0; 
    height: 0; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; 
    
    border-right:35px solid red; 

    margin-right: auto;
    margin-left: -30px;
  }
  