.painel{
    width: 240px;
    height: 554px;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid saddlebrown;
    background-color: saddlebrown;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    box-shadow: 14px 10px 98px 25px rgba(0,0,0,0.5);
    -webkit-box-shadow: 14px 10px 98px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 14px 10px 98px 25px rgba(0,0,0,0.5);   
}

.jogando {
    border: 3px solid #32CD32;
}

.painel-title{
    display: flex;
    justify-content: center;
    width: 240px;
    height: 50px;
    padding:0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight:bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.branco > .painel-title > .title{
    color:rgb(235, 235, 235);
}

.preto > .painel-title > .title{
    color: #1E1C1A;
}

 .pecas-comidas{
    margin-top: auto;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 240px;
    height: 255px !important;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.title-jogando{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 190px;
    width: 100%;
    font-size: 25px;
    font-weight:bold;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid red; */
}

.title-rodada{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid red; */
}


.title-xeque{
    color:#E63946;
}

.title-vitoria{
    color: #32CD32;
}