<div
  class="painel"
  [ngClass]="{
    branco: time === 'branco',
    preto: time === 'preto',
    jogando: jogando == true
  }"
>
  <div class="painel-title">
    <p class="title">{{ title }}</p>
  </div>
  <div class="title-rodada">
    <p *ngIf="rodada != 0"
      [ngStyle]="jogando == true?{'color': '#32CD32'} : {'color': 'rgba(0, 0, 0, 0.2)'}"
    >
      RODADA: {{rodada}}
    </p>
  </div>
  <div class="title-jogando">
    <p class="title-xeque" *ngIf="xeque">Em Xeque!</p>
    <p class="title-vitoria" *ngIf="vitoria">Vitória!</p>
    <p class="title-empate" *ngIf="empate">Empate!</p>
  </div>
  <div class="botao-box" >
    <button 
      *ngIf="vitoria || derrota || empate"
      class="botao-jogar-novamente"
      (click)="jogarNovamente()"
    >Jogar Novamente</button>
  </div>

  <div class="pecas-comidas">
    <div>
      <img
        *ngFor="let pecaComida of pecasComidas"
        src="{{ pecaComida.imagem }}"
      />
    </div>
  </div>
</div>
