<div class="background">
  <app-painel
    time="branco"
    [jogando]="jogador1Jogando"
    [pecasComidas]="pecasComidasJogador1"
    [xeque]="xequeJogador1"
    [vitoria]="vitoriaJogador1"
    [derrota]="vitoriaJogador2"
    [empate]="empateText"
    (reiniciarPartida)="reiniciarPartida()"
  ></app-painel>
  <app-tabuleiro
    (pecaComidaEmit)="adicionarPecaComida($event)"
    (timeJogandoEmit)="mudarTimeJogando()"
    (xequeEmit)="mostrarXeque()"
    (xequeMateEmit)="mostrarXequeMate()"
    (empateEmit)="empatar($event)"
  ></app-tabuleiro>
  <app-painel
    time="preto"
    [jogando]="jogador2Jogando"
    [pecasComidas]="pecasComidasJogador2"
    [xeque]="xequeJogador2"
    [vitoria]="vitoriaJogador2"
    [derrota]="vitoriaJogador1"
    [empate]="empateText"
    (reiniciarPartida)="reiniciarPartida()"
  ></app-painel>
  <div class="popup-text xeque" *ngIf="xeque" @fade>XEQUE</div>
  <div class="popup-text xeque-mate" *ngIf="xequeMate" @fade>XEQUE-MATE</div>
  <div class="popup-text empate" *ngIf="empate" @fade>EMPATE</div>
</div>
