.background {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 97vh;
    width: 100%;
    color: black
}

.popup-text{
    position: absolute;
    font-weight:bold;   
    
    text-shadow: 0px 0px 20px rgba(0,0,0,1);
    margin-bottom: 70px;
}

.xeque{   
    font-size: 45px;
    color:#8B0000;
}

.xeque-mate{
    font-size: 70px;
    color:#8B0000;
}

.empate{
    font-size: 70px;
    color:aqua;
}
