.tabuleiro{
    width: 560px;
    height: 560px;
    padding: 10px;
    background-color: saddlebrown;
    border-radius: 10px;

    box-shadow: 14px 10px 98px 25px rgba(0,0,0,0.5);
    -webkit-box-shadow: 14px 10px 98px 25px rgba(0,0,0,0.5);
    -moz-box-shadow: 14px 10px 98px 25px rgba(0,0,0,0.5);   
}

.casas-tabuleiro {
    box-shadow: -1px 0px 27px -5px rgba(0,0,0,0.83);
    -webkit-box-shadow: -1px 0px 27px -5px rgba(0,0,0,0.83);
    -moz-box-shadow: -1px 0px 27px -5px rgba(0,0,0,0.83);
    position: absolute;
}

.casas-acao{
    position: relative;
}



.coluna{
    display:flex;
    flex-direction: row;
}

.casa{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-peca{
    width: 60px; 
}

.peca-jogando{
    cursor: pointer;
    transition: transform 0.3s ease;
}

.peca-jogando:hover {
    transform: scale(1.15);
}


.acao-possivel {
    background-color: LimeGreen;
    cursor: pointer;
    transition: filter 0.3s ease;
}

.xeque{
    background-color: red;
}

.acao-possivel:hover {
    filter: brightness(0.75);
}

.cdk-drag-placeholder {
    display: none;       
  }

.cdk-drag-preview{
    transition: none !important;
    transition: transform 0.05s linear;
}

.hidden{
    opacity: 0.5;
}

img{
    z-index: 1;
}

app-tabuleiro-promocao{
    z-index: 2;
}