<div class="background">
  <div class="tabuleiro">
    <div class="casas">
      <div class="coluna" *ngFor="let coluna of colunaCasas; let col = index">
        <div
          class="casa"
          *ngFor="let casa of coluna; let ca = index"
          [ngStyle]="{ 'background-color': casa.cor }"
        >
        <span *ngIf="casa.peca">
          <img src="{{casa.peca.imagem}}" alt="" class="imagem-peca" (click)="verificarMovimentos(casa.peca, col, ca)">
        </span>
        </div>
      </div>
    </div>
  </div>
</div>