img{
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: filter 0.3s ease;
}

img:hover {
    transform: scale(1.15);
}

img:active{
    transform: scale(1.10);
    filter: brightness(1.3);
}